@using FomeZero.Dicionario.Action.LanchePersonalizado
@using FomeZero.Dicionario.ControllerName.LanchePersonalizado
@using FomeZero.Dicionario.Formulario.LanchePersonalizado
@using FomeZero.Models

@{
    ViewBag.Title = "Monte seu lanche";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MontarLanchePersonalizadoViewModel
<div>
    <h2>Monte o seu lanche</h2>
    * Informe a quantidade de cada ingrediente.<br />
    * Caso não informe nenhum valor, o ingrediente não será incluído no seu lanche.
</div><br />

@using (Html.BeginForm(LanchePersonalizadoAction.MontarLanchePersolanizado, LanchePersonalizadoController.ControllerName, FormMethod.Post, new { id = LanchePersonalizadoFormulario.Salvar, @class = "form-horizontal" }))
{
    <div class="col-md-12">
        <h4>Ingredientes</h4><br />
    </div>

    <div class="panel-body">
        <div class="col-md-12 form-group">
            @Html.LabelFor(m => m.Alface, new { @class = "control-label col-md-2 nopadding-right" })
            <div class="col-md-2">
                @Html.TextBoxFor(m => m.Alface, new { @class = "form-control", @MaxLength = 2 })
            </div>
        </div>
        <div class="col-md-12 form-group">
            @Html.LabelFor(m => m.Bacon, new { @class = "control-label col-md-2 nopadding-right" })
            <div class="col-md-2">
                @Html.TextBoxFor(m => m.Bacon, new { @class = "form-control", @MaxLength = 2 })
            </div>
        </div>
        <div class="col-md-12 form-group">
            @Html.LabelFor(m => m.HamburguerCarne, new { @class = "control-label col-md-2 nopadding-right" })
            <div class="col-md-2">
                @Html.TextBoxFor(m => m.HamburguerCarne, new { @class = "form-control", @MaxLength = 2 })
            </div>
        </div>
        <div class="col-md-12 form-group">
            @Html.LabelFor(m => m.Ovo, new { @class = "control-label col-md-2 nopadding-right" })
            <div class="col-md-2">
                @Html.TextBoxFor(m => m.Ovo, new { @class = "form-control", @MaxLength = 2 })
            </div>
        </div>
        <div class="col-md-12 form-group">
            @Html.LabelFor(m => m.Queijo, new { @class = "control-label col-md-2 nopadding-right" })
            <div class="col-md-2">
                @Html.TextBoxFor(m => m.Queijo, new { @class = "form-control", @MaxLength = 2 })
            </div>
        </div>
    </div>

    <div>
        <p><a class="btn btn-default" id="botaoMontarLanche">Montar lanche &raquo;</a></p>
    </div>
}

@section scripts{

    <script type="text/javascript">

        local = {

            Id: {

                CampoIngredienteAlface: '@Html.IdFor(m => m.Alface)'.jqueryId(),
                CampoIngredienteBacon: '@Html.IdFor(m => m.Bacon)'.jqueryId(),
                CampoIngredienteHamburguerCarne: '@Html.IdFor(m => m.HamburguerCarne)'.jqueryId(),
                CampoIngredienteOvo: '@Html.IdFor(m => m.Ovo)'.jqueryId(),
                CampoIngredienteQueijo: '@Html.IdFor(m => m.Queijo)'.jqueryId(),
                FormularioMontarLanchePersonalizado: '@LanchePersonalizadoFormulario.Salvar'.jqueryId(),
                BotaoMontarLanche: 'botaoMontarLanche'.jqueryId(),
            }
        }

    </script>

    @Scripts.Render("~/Areas/LanchePersonalizado")
}